<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% if title %}{{ title }} · {% endif %}{{ site.name }}</title>
  <meta name="description" content="{{ description or site.tagline }}" />
  <meta name="generator" content="Startr" />
  {% if env.pbUrl %}<meta name="pb-url" content="{{ env.pbUrl }}" />{% endif %}
  {% if lesson and lesson.icon %}
  <link rel="icon" href="{{ lesson.icon }}" />
  {% else %}
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🛠️</text></svg>" />
  {% endif %}
  <link rel="stylesheet" href="https://startr.style/style.css" />
  {% include "component/style.njk" %}
</head>
